/* div ~ p{
    color: wheat;
    font-size: 50px;
}
a{
    font-size: 2rem;
} */
/* a:visited{
    color: orange;
    font-size: 20px;
} */
/* a:active{
color: orange;
font-size: 20px;
}  */

/* ::marker { 
    color: red;
    font-size: 23px;
  }
  ::selection {
    color: blue;
    background: yellow;
  } */

h1 {
    position: relative;
    width: fit-content;

}

h1::after {
    content: '';
    background-color: blue;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}
h1::before {
    content: '';
    background-color: pink;
    width: 100%;
    height: 3px;
    margin-top: ;
    position: absolute;
    bottom: 10px;
    left: 0;
}